{% extends 'base.html'%}
{% load static %}
{% block content %}
{% include 'banner_home.html' %}
{% include 'navbar.html' %}
<div class="animate-fade-right flex justify-center items-center py-20">
  <br>
  <br>
  <br>
  <br>
  <p class="text-xl text-zinc-950 w-9/12 justify-center">
    El Observatorio de Género y Ciencia de la Universidad de La Frontera tiene
    como objetivo principal aportar al desarrollo de capacidades institucionales
    a través del monitoreo de las acciones de transversalización del enfoque de
    género desde una perspectiva procedimental y normativa en el ámbito de
    I+D+i+e de base científica tecnológica en la institución.<br>
  </p>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
{% include 'superbanner.html' %}
{% endblock %}   



  