<!-- index.html -->
{% load static %}

<body>

    <div id="grafico" style="width: 800px; height: 600px;"></div>

    <script type="text/javascript">
        // Inicializar el gráfico con ECharts
        var myChart = echarts.init(document.getElementById('grafico'));

        // Datos obtenidos desde Django
        var programas = {{ programas|safe }};
        var datos_mujeres = {{ datos_mujeres|safe }};
        var datos_hombres = {{ datos_hombres|safe }};

        // Configurar opciones del gráfico
        var option = {
            title: {
                text: 'Distribución por Género en Programas de Postgrado (2023)'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['Mujeres', 'Hombres']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                data: programas
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: 'Mujeres',
                    type: 'bar',
                    stack: 'total',
                    data: datos_mujeres
                },
                {
                    name: 'Hombres',
                    type: 'bar',
                    stack: 'total',
                    data: datos_hombres
                }
            ]
        };

        // Aplicar las opciones al gráfico
        myChart.setOption(option);
        window.addEventListener('resize', function() {
            myChart.resize();
        });
    </script>

</body>

