{% extends 'base.html' %}
{% block content %}
{% include 'banner_lineas.html' %}
{% include 'navbar.html' %}
  {% comment %} <div class="container-fluid" style="background-color: #dfdfdf;"> {% endcomment %}
  {% comment %} <div class="container" style="width: 80%; background-color: #ffffff; margin: 0 auto;">  {% endcomment %}
    <div class="container-lg text-2xl lg:text-3xl" style="font-family: 'Roboto', sans-serif;">
      <br>
      <br>
      <hr style="border-top: 1px solid; width: 50%;">
      <br>
      <p class="animate-pulse mb-4 text-3xl md:text-5xl lg:text-6xl font-bold" style="color: #005fab;">Línea<br>de Acción 2</p>
      <br>
      <hr style="border-top: 1px solid; width: 50%;">
      <br>
      <br>
      <p class="animate-fade-right text-lg font-bold text-zinc-950 lg:text-xl dark:text-white">Liderazgo Femenino I+D+i+e<br></p>
      <p class="animate-fade-right text-lg font-normal text-zinc-950 lg:text-xl min-[320px]:text-sm w-9/12">
        <br>
        Los reportes estadísticos correspondientes a este ítem, guardan relación con el 
        liderazgo femenino en proyectos de I+D+i+e, puestos de trabajo, número de contratos 
        de I+D, y el número de artículos de carácter académico en donde las mujeres
        aparezcan como autoras principales.
      </p>
      <br>
      <hr style="border-top: 1px solid #000"> 
      <br>
      <div class="container-fluid">
        <p class="text-lg font-bold text-zinc-950 lg:text-xl dark:text-white" style="text-align: center">Evolución en el área de investigación de publicaciones 2022-2023</p>
        <br>
        <div class="container">
            <select style="margin: 0 auto" id="yearSelector" onchange="updateLiderazgoFemeninoChart()">
              <option value="2022">2022</option>
              <option value="2023">2023</option>
            </select>
            <div class="flex">
              <div id="liderazgoFemeninoChart" style="width: 800px; height: 600px; margin: 0 auto;"></div>
            </div>
        </div>
        <p style="text-align: center" class="text-xs font-normal text-zinc-950 lg:text-xl dark:text-white">Fuente: Elaboración propia, a partir de las bases de datos de Productividad Científica 
          de la Universidad de La Frontera 2022-2023.</p>
      </div>
      <br>
      <br>
      <hr>
      <br>
      <div class="container-fluid">
        <p class="text-lg font-bold text-zinc-950 lg:text-xl dark:text-white" style="text-align: center">Evolución de Liderazgo en Publicaciones Científicas (2020-2023)</p>
        <br>
        <div class="flex">
            <div id="main" style="width: 800px; height: 600px; margin: 0 auto;"></div>
        </div>
        <p style="text-align: center" class="text-xs font-normal text-zinc-950 lg:text-xl dark:text-white">Fuente: Elaboración propia, a partir de las bases de datos de Productividad Científica 
          de la Universidad de La Frontera 2020-2023.</p>
      </div>
      <br>
      <br>
      <hr>
      <br>
    
      <div class="container-fluid">
        <p class="text-lg font-bold text-zinc-950 lg:text-xl dark:text-white" style="text-align: center">Evolución Proyectos de Innovación y Transferencia Tecnológica (2020-2023)</p>
        <br>
        <div class="flex">
            <div id="lineChart" style="width: 800px; height: 600px; margin: 0 auto;"></div>
        </div>
        <p style="text-align: center" class="text-xs font-normal text-zinc-950 lg:text-xl dark:text-white">Fuente: Elaboración propia, a partir de la base de datos Unidad de
          Transferencia Tecnológica de la Universidad de La Frontera 2020-2023.</p>
      </div>
      <br>
      <br>
      <br>
    {% include 'nav_lineas.html' %}  
      <br>
      <br>
  </div>
    
    <script>
      // Obtén los datos del contexto de Django
      const años = {{ años|safe }};
      const total_mujeres = {{ total_mujeres|safe }};
      const total_hombres = {{ total_hombres|safe }};
      const total_publicaciones = {{ total_publicaciones|safe }};

      // Datos del gráfico de líneas
      const años_itt = {{ años_itt|safe }};
      const total_itt_mujeres = {{ total_itt_mujeres|safe }};
      const total_itt_hombres = {{ total_itt_hombres|safe }};

      // Datos del gráfico de liderazgo femenino
      const categorias_2022 = {{ categorias_2022|safe }};
      const total_mujeres_2022 = {{ total_mujeres_2022|safe }};
      const total_hombres_2022 = {{ total_hombres_2022|safe }};
      const categorias_2023 = {{ categorias_2023|safe }};
      const total_mujeres_2023 = {{ total_mujeres_2023|safe }};
      const total_hombres_2023 = {{ total_hombres_2023|safe }};

      // Inicializa ECharts
      var chartDom = document.getElementById('main');
      var myChart = echarts.init(chartDom);
      myChart.resize();
      var option;

      option = {
          grid: {
              left: '3%',
              right: '4%',
              bottom: '3%',
              containLabel: true
          },
          tooltip: {
              trigger: 'axis',
              axisPointer: {
                  type: 'shadow'
              },
              formatter: function(params) {
                var tooltipHtml = '<div style="text-align: left;">' + params[0].axisValueLabel + '</div>';
                params.forEach(function(item) {
                    tooltipHtml += '<div>' + item.seriesName + ': ' + item.data + ' %</div>';
                });
                return tooltipHtml;
              }
          },
          legend: {
              data: ['Mujeres', 'Hombres']
          },
          xAxis: {
              type: 'category',
              data: años
          },
          yAxis: {
              type: 'value',
              name: '%',
              nameLocation: 'middle',
              nameGap: 35,
              nameTextStyle: {
                fontSize: 18,
                align: 'left'  // Tamaño de la fuente del título del eje Y
              }
          },
          series: [
              {
                  name: 'Mujeres',
                  type: 'bar',
                  stack: 'total',
                  data: total_mujeres,
                  itemStyle: {
                    color: '#a280f6'   // Color para las barras de mujeres
                  },
                  label: {
                    show: true,
                    position: 'inside',
                    formatter: '{c}%',  // Formato para mostrar el valor
                  }
              },
              {
                  name: 'Hombres',
                  type: 'bar',
                  stack: 'total',
                  data: total_hombres,
                  itemStyle: {
                    color: '#ea7742'  // Color para las barras de hombres
                  },
                  label: {
                    show: true,
                    position: 'inside',
                    formatter: '{c}%',  // Formato para mostrar el valor
                  }
              }    
          ]
      };

      {% comment %} option && myChart.setOption(option); {% endcomment %}

      option && myChart.setOption(option);
            window.addEventListener('resize', function() {
                myChart.resize();
      });

      // Inicializa ECharts para el gráfico de líneas
      var lineChartDom = document.getElementById('lineChart');
      var lineChart = echarts.init(lineChartDom);
      var lineOption;

      lineOption = {
          tooltip: {
              trigger: 'axis',
              axisPointer: {
                  type: 'line'
              },
              formatter: function(params) {
                var tooltipHtml = '<div style="text-align: left;">' + params[0].axisValueLabel + '</div>';
                params.forEach(function(item) {
                    tooltipHtml += '<div>' + item.seriesName + ': ' + item.data + ' %</div>';
                });
                return tooltipHtml;
              }
          },
          legend: {
              data: ['Mujeres', 'Hombres']
          },
          xAxis: {
              type: 'category',
              name: 'Año',
              data: años_itt
          },
          yAxis: {
              type: 'value',
              name: '%',
              nameLocation: 'middle',
              nameGap: 35,
              nameTextStyle: {
                fontSize: 18,
                align: 'left'  // Tamaño de la fuente del título del eje Y
              }
          },
          series: [
              {
                  name: 'Mujeres',
                  type: 'line',
                  data: total_itt_mujeres,
                  itemStyle: {
                    color: '#a280f6'   // Color para las barras de mujeres
                  },
                  label: {
                    show: false,
                    position: 'inside',
                    formatter: '{c}%',  // Formato para mostrar el valor
                }
              },
              {
                  name: 'Hombres',
                  type: 'line',
                  data: total_itt_hombres,
                  itemStyle: {
                    color: '#ea7742'  // Color para las barras de hombres
                  },
                  label: {
                    show: false,
                    position: 'inside',
                    formatter: '{c}%',  // Formato para mostrar el valor
                }
              }
          ]
      };

      lineOption && lineChart.setOption(lineOption);

      // Inicializa ECharts para el gráfico de liderazgo femenino
      var liderazgoFemeninoChartDom = document.getElementById('liderazgoFemeninoChart');
      var liderazgoFemeninoChart = echarts.init(liderazgoFemeninoChartDom);
      var liderazgoFemeninoOption;

      function updateLiderazgoFemeninoChart() {
          var selectedYear = document.getElementById('yearSelector').value;
          var categorias, total_mujeres, total_hombres;
          
          if (selectedYear == '2022') {
              categorias = categorias_2022;
              total_mujeres = total_mujeres_2022;
              total_hombres = total_hombres_2022;
          } else {
              categorias = categorias_2023;
              total_mujeres = total_mujeres_2023;
              total_hombres = total_hombres_2023;
          }

          liderazgoFemeninoOption = {
              tooltip: {
                  trigger: 'axis',
                  axisPointer: {
                      type: 'shadow'
                  }
              },
              legend: {
                  data: ['Mujeres', 'Hombres']
              },
              xAxis: {
                  type: 'category',
                  data: categorias,
                  axisLabel: {
                    interval: 0, // Mostrar todas las etiquetas
                    rotate: 0, // Rotar las etiquetas para que no se superpongan
                    formatter: function(value) {
                        return value.split(' ').join('\n'); // Ajuste opcional para etiquetas largas
                    }
                  }
              },
              yAxis: {
                  type: 'value',
                  name: '%',
                  nameLocation: 'middle',
                  nameGap: 35,
                  nameTextStyle: {
                  fontSize: 18,
                  align: 'left'  // Tamaño de la fuente del título del eje Y
                  }
              },
              series: [
                  {
                      name: 'Mujeres',
                      type: 'bar',
                      stack: 'total',
                      data: total_mujeres,
                      itemStyle: {
                        color: '#a280f6'   // Color para las barras de mujeres
                      },
                      label: {
                        show: true,
                        position: 'inside',
                        formatter: '{c}%',  // Formato para mostrar el valor
                      }
                  },
                  {
                      name: 'Hombres',
                      type: 'bar',
                      stack: 'total',
                      data: total_hombres,
                      itemStyle: {
                        color: '#ea7742'  // Color para las barras de hombres
                      },
                      label: {
                        show: true,
                        position: 'inside',
                        formatter: '{c}%',  // Formato para mostrar el valor
                      }
                  }
              ]
          };

          liderazgoFemeninoOption && liderazgoFemeninoChart.setOption(liderazgoFemeninoOption);
      }

      updateLiderazgoFemeninoChart('2022'); // Llama la función para mostrar el gráfico inicialmente

  </script>    
{% endblock content %}