{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="relative">
  <img src="{% static 'img/banner_lineasaccion.jpg' %}" class="w-full h-auto" alt="Responsive image" />
</div>
{% include 'navbar.html' %}  
<div class="container-lg dark:bg-indigo-950 dark:text-white">  
  <br>    
  <br>
  <br>
  <br>
  <hr style="border-top: 1px solid; width: 50%;" class="dark:bg-white">
  <br>
  <p class="animate-pulse mb-4 text-3xl lg:text-4xl font-bold text-blue-500 dark:text-white">Líneas <br>de Acción</p>
  <br>
  <hr style="border-top: 1px solid; width: 50%;" class="dark:bg-white">
  <br>
  <p class="text-2xl text-zinc-950 lg:text-3xl dark:text-white">
    El observatorio de Género y Ciencia agrupa el total de los indicadores en Líneas
    de Acción con el fin de monitorearlos de forma ordenada permitiendo así, una
    correcta y eficiente sistematización, análisis y reporte de las actividades
    a cumplir por las distintas Unidades de la Universidad de La Frontera.
  </p>
<br>
<br>
</div>
    <div class="container-lg px-5 dark:bg-indigo-950">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <!-- primera fila -->
          <div class="col"> 
            <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg dark:bg-indigo-950 dark:border-gray-700 focus:ring-4 focus:outline-none hover:bg-blue-500 focus:ring-blue-300 shadow-xl">
              <h5 class="text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">
                Acciones con<br>
                Perspectiva de género<br>
              </h5>
              <br>
              <a href="{% url 'lineas_accion_1' %}" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-3 py-2.5 text-center me-2 mb-2" style="text-decoration: none;">Ver más</a>
            </div>  
          </div>
          <div class="col">
            <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg dark:bg-indigo-950 dark:border-gray-700 focus:ring-4 focus:outline-none focus:ring-blue-300 shadow-xl">
              <h5 class="text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"> 
                Liderazgo Femenino<br>
                I+D+i+e
              </h5>
              <br>
              <a href="{% url 'lineas_accion_2' %}" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-3 py-2.5 text-center me-2 mb-2" style="text-decoration: none;">Ver más</a>
            </div>
        </div>
        <!--segunda fila-->
        <div class="col">
          <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg dark:bg-indigo-950 dark:border-gray-700 focus:ring-4 focus:outline-none focus:ring-blue-300 shadow-xl">
            <h5 class="text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">  
              Financiamiento<br>
              y Patrocionio I+D+i+e<br>
            </h5>
            <br>
            <a href="{% url 'lineas_accion_3' %}" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-3 py-2.5 text-center me-2 mb-2" style="text-decoration: none;">Ver más</a>            
          </div>
        </div>
        <div class="col">
          <div class="max-w-sm p-6 bg-white hover:bg-blue-500 dark:bg-indigo-950 border rounded-lg dark:border-gray-700 focus:ring-4 focus:outline-none shadow-xl">
            <h5 class="text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">
              Capital<br>Humano<br>
            </h5>
            <br>
            <a href="{% url 'lineas_accion_4' %}" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-3 py-2.5 text-center me-2 mb-2" style="text-decoration: none;">Ver más</a> 
          </div>
        </div>
    </div>
    <br>
    <br>
  </div>
  </div>
  </div>
  <script>
    // Ajustar el tamaño del gráfico cuando cambia el tamaño de la ventana
    window.addEventListener('resize', function() {
        var graphs = document.getElementsByClassName('plotly-div');
        for (var i = 0; i < graphs.length; i++) {
            Plotly.Plots.resize(graphs[i]);
        }
    });
  </script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

{% endblock content %}