{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% include 'banner_lineas.html' %}
{% include 'navbar.html' %}
<div class="container-lg" style="font-family: 'Roboto', sans-serif;">
    <br>
    <br>
    <hr style="border-top: 1px solid; width: 50%;">
    <br>
    <p class="mb-4 text-3xl font-light" style="color: #005fab;">Línea<br>de Acción 3</p>
    <br>
    <hr style="border-top: 1px solid; width: 50%;">
    <br>
    <br>
    <p class="animate-fade-right text-lg font-bold text-zinc-950 lg:text-xl" style="text-align: left">Financiamiento y Patrocinio I+D+i+e<br></p>
    <br>
    <p class="animate-fade-right text-lg font-normal text-zinc-950 lg:text-xl min-[320px]:text-sm w-9/12">
        El Financiamiento y Patrocinio corresponde a los montos adjudicados para proyectos en 
        el área de I+D+i+e. El financiamiento de proyectos hace referencia a todas las fuentes 
        por año y el patrocinio a proyectos de carácter institucional.    
    </p>
    <br>
    <hr style="border-top: 1px solid;">
    <br>
    <br>
    
    <div class="container-fluid">
        <p class="text-lg font-bold text-zinc-950 lg:text-xl" style="text-align: center">Porcentaje en el Monto Financiamiento Fondef del área de investigación, según sexo y año (2022-2023)</p>
        <br>
        <div class="container">
            <div class="flex justify-center items-center h-full p-4">
                <select style="margin: 0 auto" id="distributionYearSelector" class="m-auto" onchange="updateDistributionChart()">
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                </select>
            </div>
            <div class="flex">
                <div id="distributionChart" style="width: 800px; height: 600px; margin: 0 auto;"></div>
            </div>
        </div>
        <br>
        <p style="text-align: center; color: #4d4d4d" class="text-xl font-normal"><strong>Fuente:</strong>Elaboración propia, a partir de las bases de datos de ANID Proyectos 2022-2023.</p>
    </div>
    <br>
    <hr>
    <br>
    <div class="container-fluid">
        <p class="text-lg font-bold text-zinc-950 lg:text-xl" style="text-align: center">Monto Financiamiento Fondef, según sexo y año (2020-2023)</p>
        <br>
        <div class="container">
            <div class="flex justify-center items-center h-full p-4">
                <select style="margin: 0 auto" id="financingYearSelector" onchange="updateFinancingChart()">
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                </select>
            </div>
            <div class="flex">
                <div id="financingChart" style="width: 800px; height: 600px; margin: 0 auto;"></div>
            </div>
        </div>
        <br>
        <p style="text-align: center; color: #4d4d4d" class="text-xl font-normal"><strong>Fuente:</strong> Elaboración propia, a partir de las bases de datos de ANID Proyectos 2020-2023.</p>
    </div>
</div>
<br>
<script type="text/javascript">

    {% comment %} function formatNumber(num) {
        return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    } {% endcomment %}

    // Variables para Distribución
    var años = {{ años|safe }};
    var categorias_2022 = {{ categorias_2022|safe }};
    var total_mujeres_2022 = {{ total_mujeres_2022|safe }};
    var total_hombres_2022 = {{ total_hombres_2022|safe }};
    var categorias_2023 = {{ categorias_2023|safe }};
    var total_mujeres_2023 = {{ total_mujeres_2023|safe }};
    var total_hombres_2023 = {{ total_hombres_2023|safe }};

    // Variables para Financiamiento
    var años_ff = {{ años_ff|safe }};
    var financiamiento_mujeres_2020 = {{ financiamiento_mujeres_2020|safe }};
    var financiamiento_hombres_2020 = {{ financiamiento_hombres_2020|safe }};
    var financiamiento_total_2020 = {{ financiamiento_total_2020|safe }};
    var financiamiento_mujeres_2021 = {{ financiamiento_mujeres_2021|safe }};
    var financiamiento_hombres_2021 = {{ financiamiento_hombres_2021|safe }};
    var financiamiento_total_2021 = {{ financiamiento_total_2021|safe }};
    var financiamiento_mujeres_2022 = {{ financiamiento_mujeres_2022|safe }};
    var financiamiento_hombres_2022 = {{ financiamiento_hombres_2022|safe }};
    var financiamiento_total_2022 = {{ financiamiento_total_2022|safe }};
    var financiamiento_mujeres_2023 = {{ financiamiento_mujeres_2023|safe }};
    var financiamiento_hombres_2023 = {{ financiamiento_hombres_2023|safe }};
    var financiamiento_total_2023 = {{ financiamiento_total_2023|safe }};

    // Inicializar ECharts para los gráficos
    var distributionChart = echarts.init(document.getElementById('distributionChart'));
    var financingChart = echarts.init(document.getElementById('financingChart'));

    // Opciones para gráfico de Distribución
    var distributionOption = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            },
            formatter: function(params) {
              var tooltipHtml = '<div style="text-align: left;">' + params[0].axisValueLabel + '</div>';
              params.forEach(function(item) {
                  tooltipHtml += '<div>' + item.seriesName + ': ' + item.data + ' %</div>';
              });
              return tooltipHtml;
            }
        },
        legend: {
            data: ['Mujeres', 'Hombres']
        },
        xAxis: {
            type: 'category',
            data: [],
            axisLabel: {
                interval: 0, // Mostrar todas las etiquetas
                rotate: 0, // Rotar las etiquetas para que no se superpongan
                formatter: function(value) {
                    return value.split(' ').join('\n'); // Ajuste opcional para etiquetas largas
                }
            }
        },
        yAxis: {
            type: 'value',
        },
        animationEasing: 'elasticOut',
        animationDuration: 2000,
        animationDurationUpdate: 1500,
        animationEasingUpdate: 'cubicOut',
        series: [
            {
                name: 'Mujeres',
                type: 'bar',
                stack: 'total',
                data: [],
                itemStyle: {
                    color: '#6cab52'   // Color para las barras de mujeres
                },
                label: {
                    show: true,
                    fontSize: 14,
                    position: 'inside',
                    formatter: function(params) {
                        return params.data !== 0 ? params.data + '%' : '';
                    }  // Formato para mostrar el valor
                },
                animationDelay: function (idx) {
                    return idx * 100; // Retraso de animación por barra
                }
                
            },
            {
                name: 'Hombres',
                type: 'bar',
                stack: 'total',
                data: [],
                itemStyle: {
                    color: '#201549'  // Color para las barras de hombres
                },
                label: {
                    show: true,
                    fontSize: 14,
                    position: 'inside',
                    formatter: function(params) {
                        return params.data !== 0 ? params.data + '%' : '';
                    }  // Formato para mostrar el valor
                },
                animationDelay: function (idx) {
                    return idx * 100 + 200; // Retraso de animación por barra
                }
            }
        ]
    };

    function formatNumber(value) {
        if (value === null || value === undefined) return '-';
        return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
    }

    // Opciones para gráfico de Financiamiento
    var financingOption = {
        title: {
            text: '$ MM (Millones clp)', // Cambiar el título según el tipo de gráfico
            left: 'buttom',
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            },
            formatter: function(params) {
              var tooltipHtml = '<div style="text-align: left;">' + params[0].axisValueLabel + '</div>';
              params.forEach(function(item) {
                  tooltipHtml += '<div>' + item.seriesName + ': ' + formatNumber(item.data) + ' %</div>';
              });
              return tooltipHtml;
            }
        }, 
       legend: {
            data: ['Mujeres', 'Hombres']
        },
        xAxis: {
            type: 'category',
            data: [],
            axisLabel: {
                interval: 0, // Mostrar todas las etiquetas
                rotate: 0, // Rotar las etiquetas para que no se superpongan
                formatter: function(value) {
                    return formatNumber(value.split(' ').join('\n')); // Ajuste opcional para etiquetas largas
                }
            }
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: function(value) {
                    return formatNumber(value);
                }
            }
        },
        series: [
            {
                name: 'Mujeres',
                type: 'bar',
                data: ['Mujeres', 'Hombres'],
                itemStyle: {
                    color: '#9d82ef'   // Color para las barras de mujeres
                },
                label: {
                    show: true,
                    fontSize: 14,
                    position: 'inside',
                    formatter: '$ {c}',  // Formato para mostrar el valor
                },
                animationDelay: function (idx) {
                    return idx * 100; // Retraso de animación por barra
                }
            },
            {
                name: 'Hombres',
                type: 'bar',
                data: [],
                itemStyle: {
                    color: '#201549'  // Color para las barras de hombres
                  },
                label: {
                    show: true,
                    fontSize: 14,
                    position: 'inside',
                    formatter: '$ {c}',  // Formato para mostrar el valor
                },
                animationDelay: function (idx) {
                    return idx * 100 + 200; // Retraso de animación por barra
                }
            }
        ],
        animationEasing: 'elasticOut',
        animationDuration: 2000,
        animationDurationUpdate: 1500,
        animationEasingUpdate: 'cubicOut'
    };

    // Asignar opciones a los gráficos
    distributionChart.setOption(distributionOption);
    financingChart.setOption(financingOption);

    // Función para actualizar gráfico de Distribución
    function updateDistributionChart() {
        var selectedYear = document.getElementById("distributionYearSelector").value;

        // Lógica para actualizar datos del gráfico de distribución
        if (selectedYear === '2022') {
            distributionChart.setOption({
                xAxis: {
                    data: categorias_2022
                },
                series: [
                    {
                        name: 'Mujeres',
                        data: total_mujeres_2022
                    },
                    {
                        name: 'Hombres',
                        data: total_hombres_2022
                    }
                ]
            });
        } else if (selectedYear === '2023') {
            distributionChart.setOption({
                xAxis: {
                    data: categorias_2023
                },
                series: [
                    {
                        name: 'Mujeres',
                        data: total_mujeres_2023,
                    },
                    {
                        name: 'Hombres',
                        data: total_hombres_2023
                    }
                ]
            });
        }
    }

    // Función para actualizar gráfico de Financiamiento
    function updateFinancingChart() {
        var selectedYear = document.getElementById("financingYearSelector").value;

        // Lógica para actualizar datos del gráfico de financiamiento
        if (selectedYear === '2020') {
            financingChart.setOption({
                series: [
                    {
                        name: 'Mujeres',
                        data: financiamiento_mujeres_2020
                    },
                    {
                        name: 'Hombres',
                        data: financiamiento_hombres_2020
                    },
                    {
                        name: 'Total',
                        data: financiamiento_total_2020
                    }
                ]
            });
        } else if (selectedYear === '2021') {
            financingChart.setOption({
                series: [
                    {
                        name: 'Mujeres',
                        data: financiamiento_mujeres_2021
                    },
                    {
                        name: 'Hombres',
                        data: financiamiento_hombres_2021
                    },
                    {
                        name: 'Total',
                        data: financiamiento_total_2021
                    }
                ]
            });
        } else if (selectedYear === '2022') {
            financingChart.setOption({
                series: [
                    {
                        name: 'Mujeres',
                        data: financiamiento_mujeres_2022
                    },
                    {
                        name: 'Hombres',
                        data: financiamiento_hombres_2022
                    },
                    {
                        name: 'Total',
                        data: financiamiento_total_2022
                    }
                ]
            });
        } else if (selectedYear === '2023') {
            financingChart.setOption({
                series: [
                    {
                        name: 'Mujeres',
                        data: financiamiento_mujeres_2023
                    },
                    {
                        name: 'Hombres',
                        data: financiamiento_hombres_2023
                    },
                    {
                        name: 'Total',
                        data: financiamiento_total_2023
                    }
                ]
            });
        }
    }

    // Inicialización de los gráficos con el primer año disponible
    document.getElementById("distributionYearSelector").value = años[0];
    document.getElementById("financingYearSelector").value = años_ff[0];
    updateDistributionChart();
    updateFinancingChart();

    // Resize charts when window is resized
    window.addEventListener('resize', function () {
        distributionChart.resize();
        financingChart.resize();
    }
    
    
    );
</script>

{% include 'nav_lineas.html' %}
{% endblock content %}

