{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'banner_lineas.html' %}
{% include 'navbar.html' %}
<div class="container-lg" style="font-family: 'Roboto', sans-serif; color: #4d4d4d">
    <br>
    <br>
    <hr style="border-top: 1px solid; width: 50%;">
    <br>
    <p class="mb-4 text-3xl font-light" style="color: #005fab;">Línea<br>de Acción 4</p>
    <br>
    <hr style="border-top: 1px solid; width: 50%;">
    <br>
    <br>
    <p class="animate-fade-right text-lg font-bold text-zinc-950 lg:text-xl dark:text-white">Capital Humano<br></p>
    <br>
    <p class="animate-fade-right text-lg font-normal text-zinc-950 lg:text-xl min-[320px]:text-sm w-9/12">
        El Capital Humano refiere al salario promedio anual del personal académico con  Jornada Completa Equivalente 
        (JCE) en planta regular que realizan I+D y a los tipos de académicos/as acreditados para los programas de 
        postgrado que brinda la Universidad.
    </p>
    <br>
    <hr style="border-top: 1px solid #000"> 
    <br>
    <div class="container-fluid">
        <p class="text-lg font-bold text-zinc-950 lg:text-xl" style="text-align: center">Porcentaje de académicos/as acreditados en el año 2023, según total Programas de Postgrado</p>
        <br>
        <div class="flex">
            <div id="grafico-barras" class="h-96" style="width: 800px; height: 600px; margin: 0 auto;"></div>
        </div>
        <p class="text-xl text-center font-normal" style:"color: #4d4d4d"><strong>Fuente:</strong> Elaboración propia, a partir de la base de datos Dirección Académica de Postgrado 2023 de la Universidad de La Frontera. </p>
    </div>
    <br>
    <hr style="border-top: 1px solid #000;">
    <br>
    <div class="container-fluid">
        <p class="text-lg font-bold text-zinc-950 lg:text-xl" style="text-align: center">Porcentaje de académicos/as colaboradores acreditados en el año 2023, según total de Programas de Postgrado</p>
        <br>
        <div class="flex">
            <div id="grafico-colaborador" class="h-96" style="width: 800px; height: 600px; margin: 0 auto;"></div>
        </div>
        <p class="text-xl text-center font-normal" style:"color: #4d4d4d"><strong>Fuente:</strong> Elaboración propia, a partir de la base de datos Dirección Académica de Postgrado 2023 de la Universidad de La Frontera. </p>
    </div>
    <br>
    <hr style="border-top: 1px solid #000;">
    <br>
    <div class="container-fluid">
        <p class="text-lg font-bold text-zinc-950 lg:text-xl" style="text-align: center">Porcentaje de académicos/as claustro acreditados en el año 2023, según total de Programas de Postgrado</p>
        <br>
        <div class="flex">
            <div id="grafico-claustro" class="h-96" style="width: 800px; height: 600px; margin: 0 auto;"></div>
        </div>
        <p class="text-xl text-center font-normal" style:"color: #4d4d4d"><strong>Fuente:</strong> Elaboración propia, a partir de la base de datos Dirección Académica de Postgrado 2023 de la Universidad de La Frontera. </p>
    </div>
    <br>
    <hr style="border-top: 1px solid #000;">
    <br>
    <div class="container-fluid">
        <p class="text-lg font-bold text-zinc-950 lg:text-xl" style="text-align: center">Porcentaje de académicos/as núcleo acreditados en el año 2023, según total de Programas de Postgrado</p>
        <br>
        <div class="flex">
            <div id="grafico-nucleo" class="h-96" style="width: 800px; height: 600px; margin: 0 auto;"></div>
        </div>
        <p class="text-xl text-center font-normal" style:"color: #4d4d4d"><strong>Fuente:</strong> Elaboración propia, a partir de la base de datos Dirección Académica de Postgrado 2023 de la Universidad de La Frontera. </p>
    </div>
    <br>
    <hr style="border-top: 1px solid #000;">
    <br>
    <div class="container-fluid">
        <p class="text-lg font-bold text-zinc-950 lg:text-xl" style="text-align: center">Porcentaje de académicos/as permanentes acreditados en el año 2023, según total de Programas de Postgrado</p>
        <br>
        <div class="flex">
            <div id="grafico-permanente" class="h-96" style="width: 800px; height: 600px; margin: 0 auto;"></div>
        </div>
        <p class="text-xl text-center font-normal" style:"color: #4d4d4d"><strong>Fuente:</strong> Elaboración propia, a partir de la base de datos Dirección Académica de Postgrado 2023 de la Universidad de La Frontera. </p>
    </div>
    <br>
    <hr style="border-top: 1px solid #000;">
    <br>
    <div class="container-fluid">
        <p class="text-lg font-bold text-zinc-950 lg:text-xl" style="text-align: center">Porcentaje de académicos/as visitantes acreditados en el año 2023, según total de Programas de Postgrado</p>
        <br>
        <div class="flex">
            <div id="grafico-visitante" class="h-96" style="width: 800px; height: 600px; margin: 0 auto;"></div>
        </div>
        <p class="text-xl text-center font-normal" style:"color: #4d4d4d"><strong>Fuente:</strong> Elaboración propia, a partir de la base de datos Dirección Académica de Postgrado 2023 de la Universidad de La Frontera. </p>
    </div>
    <br>
    <hr style="border-top: 1px solid #000;">
    <br>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        // Obtener los datos desde Django
        var programasBar = {{ programas|safe }};
        var datos_mujeresBar = {{ datos_mujeres|safe }};
        var datos_hombresBar = {{ datos_hombres|safe }};

        var chartBar = echarts.init(document.getElementById('grafico-barras'));

        var optionBar = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                },
                formatter: function(params) {
                    var tooltipHtml = '<div style="text-align: left;">' + params[0].axisValueLabel + '</div>';
                    params.forEach(function(item) {
                        tooltipHtml += '<div>' + item.seriesName + ': ' + item.data + ' %</div>';
                    });
                    return tooltipHtml;
                }
            },
            legend: {
                data: ['Mujeres', 'Hombres'],
                top: '5%',
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                data: programasBar,
                axisLabel: {
                    interval: 0,
                    rotate: 0,
                    formatter: function(value) {
                        return value.split(' ').join('\n');
                    }
                }
            },
            yAxis: {
                type: 'value',
            },
            animationEasing: 'elasticOut',
            animationDuration: 2000,
            animationDurationUpdate: 1500,
            animationEasingUpdate: 'cubicOut',
            series: [
                {
                    name: 'Mujeres',
                    type: 'bar',
                    stack: 'total',
                    data: datos_mujeresBar,
                    itemStyle: {
                        color: '#6cab52'
                    },
                    label: {
                        show: true,
                        fontSize: 14,
                        position: 'inside',
                        formatter: function(params) {
                            return params.data !== 0 ? params.data + '%' : '';
                        }  // Formato para mostrar el valor
                    },
                    animationDelay: function (idx) {
                        return idx * 100; // Retraso de animación por barra
                    }
                },
                {
                    name: 'Hombres',
                    type: 'bar',
                    stack: 'total',
                    data: datos_hombresBar,
                    itemStyle: {
                        color: '#201549'
                    },
                    label: {
                        show: true,
                        fontSize: 14,
                        position: 'inside',
                        formatter: function(params) {
                            return params.data !== 0 ? params.data + '%' : '';
                        }  // Formato para mostrar el valor
                    },
                    animationDelay: function (idx) {
                        return idx * 100; // Retraso de animación por barra
                    }
                }
            ],
            animationEasing: 'elasticOut',
            animationDuration: 2000,
            animationDurationUpdate: 1500,
            animationEasingUpdate: 'cubicOut'
        };

        chartBar.setOption(optionBar);

        window.addEventListener('resize', function() {
            chartBar.resize();
        });
    });
</script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        // Obtener los datos desde Django
        var dataProgramas = {{ datos_programas|safe }};

        // Función para procesar datos
        function processData(variable) {
            var tipos_programa = [];
            var hombres = [];
            var mujeres = [];

            dataProgramas.forEach(function(item) {
                if (!tipos_programa.includes(item.tipo_programa)) {
                    tipos_programa.push(item.tipo_programa);
                }
                if (item.sexo === 'hombres') {
                    hombres.push(item[variable]);
                } else {
                    mujeres.push(item[variable]);
                }
            });

            return {
                tipos_programa: tipos_programa,
                hombres: hombres,
                mujeres: mujeres
            };
        }

        // Función para crear gráficos
        function createChart(containerId, variableName) {
            var container = echarts.init(document.getElementById(containerId));
            var data = processData(variableName);

            var option = {
                title: {
                    text: {colaborador: 'Colaboradores', claustro: 'Claustro', nucleo: 'Núcleo', permanente: 'Permanente', visitante: 'Visitante'}[variableName], // Cambiar el título según el tipo de gráfico
                    left: 'center',
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    },
                    formatter: function(params) {
                        var tooltipHtml = '<div style="text-align: left;">' + params[0].axisValueLabel + '</div>';
                        params.forEach(function(item) {
                            tooltipHtml += '<div>' + item.seriesName + ': ' + item.data + ' %</div>';
                        });
                        return tooltipHtml;
                    }

                },
                legend: {
                    data: ['Hombres', 'Mujeres'],
                    top: '5%',
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    data: data.tipos_programa,
                    axisLabel: {
                        interval: 0,
                        rotate: 0,
                        formatter: function(value) {
                            return value.split(' ').join('\n');
                        }
                    }
                },
                yAxis: {
                    type: 'value',
                },
                animationEasing: 'elasticOut',
                animationDuration: 2000,
                animationDurationUpdate: 1500,
                animationEasingUpdate: 'cubicOut',
                series: [
                    {
                        name: 'Hombres',
                        type: 'bar',
                        stack: 'total',
                        data: data.hombres,
                        label: {
                            show: true,
                            fontSize: 14,
                            position: 'inside',
                            formatter: function(params) {
                                return params.data !== 0 ? params.data + '%' : '';
                            } 
                        },
                        itemStyle: {
                            color: '#201549'
                        },
                        animationDelay: function (idx) {
                            return idx * 100; // Retraso de animación por barra
                        }
                    },
                    {
                        name: 'Mujeres',
                        type: 'bar',
                        stack: 'total',
                        data: data.mujeres,
                        label: {
                            show: true,
                            fontSize: 14,
                            position: 'inside',
                            formatter: function(params) {
                                return params.data !== 0 ? params.data + '%' : '';
                            } 
                        },
                        itemStyle: {
                            color: '#6cab52'
                        },
                        animationDelay: function (idx) {
                            return idx * 100; // Retraso de animación por barra
                        }
                    }
                ]
            };

            container.setOption(option);
            window.addEventListener('resize', function() {
                container.resize();
            });
        }

        // Crear gráficos
        createChart('grafico-colaborador', 'colaborador');
        createChart('grafico-claustro', 'claustro');
        createChart('grafico-nucleo', 'nucleo');
        createChart('grafico-permanente', 'permanente');
        createChart('grafico-visitante', 'visitante');
    });
</script>


{% include 'nav_lineas.html' %}
{% endblock content %}