{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'banner_lineas.html' %}
{% include 'navbar.html' %}
<div class="container-lg text-2xl lg:text-3xl" style="font-family: 'Roboto', sans-serif; color: #4d4d4d">
    <br>
    <br>
    <hr style="border-top: 1px solid; width: 50%;">
    <br>
    <p class="animate-pulse mb-4 text-3xl md:text-5xl lg:text-6xl font-bold" style="color: #005fab;">Línea<br>de Acción 4</p>
    <br>
    <hr style="border-top: 1px solid; width: 50%;">
    <br>
    <br>
    <p class="animate-fade-right text-lg font-bold text-zinc-950 lg:text-xl dark:text-white">Capital Humano<br></p>
    <br>
    <p class="animate-fade-right text-lg font-normal text-zinc-950 lg:text-xl min-[320px]:text-sm w-9/12">
        Los indicadores correspondientes a este ítem, guardan relación con la Jornada Completa 
        Equivalente (JCE), la diferencia en el salario promedio anual entre hombres y mujeres 
        y datos provenientes de la Dirección Académica de Postgrado (DAP).
    </p>
    <br>
    <hr style="border-top: 1px solid #000"> 
    <br>
    <div class="container-fluid">
        <p class="text-lg font-bold text-zinc-950 lg:text-xl dark:text-white" style="text-align: center">Porcentaje de Académicas/os acreditados en el año 2023, según total programas de Postgrado</p>
        <br>
        <div class="flex">
            <div id="grafico-barras" class="h-96" style="width: 800px; height: 600px; margin: 0 auto;"></div>
        </div>
        <p style="text-align: center" class="text-xs font-normal text-zinc-950 lg:text-xl dark:text-white">Fuente: Elaboración propia, a partir de la base de datos Dirección Académica de Postgrado 2023 de la Universidad de La Frontera</p>
    </div>
    <br>
    <hr style="border-top: 1px solid #000;">
    <br>
    <div class="container-fluid">
        <p class="text-lg font-bold text-center text-zinc-950 lg:text-xl dark:text-white">Porcentaje de tipos de académicos acreditados 2023, según total programas de postgrado y sexo</p>
        <br>
        <br>
        <div class="row">
            <div class="flex col p-3">
                <div id="chart-colaborador" style="width: 400px; height: 400px;"></div>
            </div>
            <div class="flex col p-3">
                <div id="chart-claustro" style="width: 400px; height: 400px;"></div>
            </div>
            <div class="flex col p-3">
                <div id="chart-nucleo" style="width: 400px; height: 400px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="flex col p-3">
                <div id="chart-permanente" style="width: 400px; height: 400px;"></div>
            </div>
            <div class="flex col p-3">
                <div id="chart-visitante" style="width: 400px; height: 400px;"></div>
            </div>
        </div>
        <p class="text-xs text-center font-normal text-zinc-950 lg:text-xl dark:text-white">Fuente: Elaboración propia, a partir de la base de datos Dirección Académica de Postgrado 2023 de la Universidad de La Frontera.</p> 
    </div>
    <br>
    <br>
</div>

<script type="text/javascript">
    // Inicializar el gráfico de Barras Apiladas con ECharts
    var chartBar = echarts.init(document.getElementById('grafico-barras'));

    // Datos para el gráfico de Barras Apiladas (suponiendo que los datos ya están pasados desde Django)
    var programasBar = {{ programas|safe }};
    var datos_mujeresBar = {{ datos_mujeres|safe }};
    var datos_hombresBar = {{ datos_hombres|safe }};

    // Configuración del gráfico de Barras Apiladas
    var optionBar = {
       
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            },
            formatter: function(params) {
                var tooltipHtml = '<div style="text-align: left;">' + params[0].axisValueLabel + '</div>';
                params.forEach(function(item) {
                    tooltipHtml += '<div>' + item.seriesName + ': ' + item.data + ' %</div>';
                });
                return tooltipHtml;
            }
        },
        legend: {
            data: ['Mujeres', 'Hombres'],
            top: '5%',
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            data: programasBar,
            axisLabel: {
                interval: 0, // Mostrar todas las etiquetas
                rotate: 0, // Rotar las etiquetas para que no se superpongan
                formatter: function(value) {
                    return value.split(' ').join('\n'); // Ajuste opcional para etiquetas largas
                }
            }
        },
        yAxis: {
            type: 'value',
            name: '%',
              nameLocation: 'middle',
              nameGap: 35,
              nameTextStyle: {
                fontSize: 18,
                align: 'left'  // Tamaño de la fuente del título del eje Y
            }
        },
        series: [
            {
                name: 'Mujeres',
                type: 'bar',
                stack: 'total',
                label: {
                    show: true,
                    position: 'inside',
                    formatter: '{c}%',  // Formato para mostrar el valor
                },
                itemStyle: {
                    color: '#a280f6'  // Color para las barras de mujeres
                },
                data: datos_mujeresBar
            },
            {
                name: 'Hombres',
                type: 'bar',
                stack: 'total',
                label: {
                    show: true,
                    position: 'inside',
                    formatter: '{c}%',  // Formato para mostrar el valor
                },
                itemStyle: {
                    color: '#ea7742'  // Color para las barras de hombres
                },
                data: datos_hombresBar
            }
        ]
    };

    // Aplicar las opciones al gráfico de Barras Apiladas
    chartBar.setOption(optionBar);

    window.addEventListener('resize', function() {
        chartBar.resize();
    });

    // Función para inicializar gráfico de Torta con ECharts
    function initChart(id, title, outerData, innerData) {
        var chartDom = document.getElementById(id);
        var myChart = echarts.init(chartDom);
        var option = {
            title: {
                text: title,
                left: 'center',
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} ({d}%)'
            },
            legend: {
                orient: 'horizontal',
                bottom: 0,
                data: outerData.map(function(item) {
                    return item.name;
                }),
                padding: [10, 0, 0, 0]
            },
            grid: {
                top: 100, // Añade un margen superior al área del gráfico
                bottom: 50 // Añade un margen inferior al área del gráfico
            },
            series: [
                {
                    name: title,
                    type: 'pie',
                    radius: ['0%', '30%'],
                    label: {
                        show: true,
                        formatter: '{b} {d}%',
                        position: 'outer',
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '14',
                        }
                    },
                    labelLine: {
                        show: true,
                        length: 10,
                        length2: 10,
                        smooth: true
                    },
                    data: outerData
                },
                {
                    name: title + ' por Sexo',
                    type: 'pie',
                    radius: ['40%', '60%'],
                    label: {
                        show: true,
                        formatter: '{d}%',
                        position: 'inside'
                    },
                    data: innerData
                }
            ]
        };


        var colorMujeres = '#a280f6';
        var colorHombres = '#ea7742';
            
            option.series.forEach(function (series) {
                series.data.forEach(function (item) {
                    if (item.name.includes('mujeres')) {
                        item.itemStyle = { color: colorMujeres };
                    } else if (item.name.includes('hombres')) {
                        item.itemStyle = { color: colorHombres };
                    }
                });
            });        


        myChart.setOption(option);

        window.addEventListener('resize', function() {
            myChart.resize();
        });
    }

    // Datos para los gráficos de Torta (suponiendo que los datos ya están pasados desde Django)
    var dataColaborador = {{ data_colaborador|safe }};
    var innerColaborador = {{ inner_colaborador|safe }};
    var dataClaustro = {{ data_claustro|safe }};
    var innerClaustro = {{ inner_claustro|safe }};
    var dataNucleo = {{ data_nucleo|safe }};
    var innerNucleo = {{ inner_nucleo|safe }};
    var dataPermanente = {{ data_permanente|safe }};
    var innerPermanente = {{ inner_permanente|safe }};
    var dataVisitante = {{ data_visitante|safe }};
    var innerVisitante = {{ inner_visitante|safe }};

    // Inicializar los gráficos de Torta
    initChart('chart-colaborador', 'Colaboradores', dataColaborador, innerColaborador);
    initChart('chart-claustro', 'Claustro', dataClaustro, innerClaustro);
    initChart('chart-nucleo', 'Núcleo', dataNucleo, innerNucleo);
    initChart('chart-permanente', 'Permanente', dataPermanente, innerPermanente);
    initChart('chart-visitante', 'Visitante', dataVisitante, innerVisitante);
</script>

{% include 'nav_lineas.html' %}
{% endblock content %}