nav li {
    display: inline-block; /* Muestra los elementos de la lista como bloques en línea */
    margin: 0 10px; /* Agrega espacio entre elementos de la lista */
}


em {
    color: inherit; /* O cualquier otro color deseado */
}


.accordion-item .accordion-button:focus {
    outline: none; /* Elimina el contorno de enfoque */
    box-shadow: none; /* Elimina la sombra */
    color: #005fab;
}

.accordion-item .accordion-button:not(.collapsed) {
    background-color: transparent; /* Elimina el fondo azul cuando está abierto */
    /* color: #005fab; Cambia el color del texto cuando está abierto */
}

.accordion-item .accordion-button.collapsed {
    color: #005fab; /* Cambia el color del texto cuando esta cerrado */
}

.accordion-button {
    font-size: 30px; /* Cambia el tamaño de fuente de los botones del acordeón */
    color: #005fab; /* Cambia el color del texto de los botones del acordeón */
}

.accordion-body {
    font-size: 22px; /* Cambia el tamaño de fuente del contenido del acordeón */
    color: #005fab;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

footer li a {
    text-decoration: none!important; /* Elimina el subrayado predeterminado */
}

/* custom_plotly.css */

/* Asegúrate de que el modebar de Plotly se muestre horizontalmente */
.modebar-container {
    flex-direction: row !important;  /* Fuerza la dirección de los elementos a horizontal */
    display: flex !important;  /* Asegura que los elementos se dispongan en un contenedor flexible */
    justify-content: center !important;  /* Centra los botones horizontalmente */
    align-items: center !important;  /* Alinea verticalmente los botones al centro */
}

.modebar {
    display: flex !important;
    flex-direction: row !important;  /* Asegura que los botones se alineen horizontalmente */
    align-items: center !important;  /* Alinea verticalmente los botones al centro */
}

.modebar-btn {
    margin: 0 5px !important;  /* Espaciado horizontal entre los botones */
    display: inline-block !important;  /* Asegura que los botones se muestren en línea */
}

